{% extends "base.html" %}

{% block content %}
<div class="container">
    <a class="navbar-brand" href="/">
        <h1>Iris Flower Prediction Django APP</h1>
    </a>
</div>
<hr>
<div class="container">
    <form>
        Sepal Length: <input class="form-control" type="number" name="sepal_length" id="sepal_length" required><br>
        Sepal Width: <input class="form-control" type="number" name="sepal_width" id="sepal_width" required><br>
        Petal Length: <input class="form-control" type="number" name="petal_length" id="petal_length" required><br>
        Petal Width: <input class="form-control" type="number" name="petal_width" id="petal_width" required><br>
        <button class="btn btn-outline-primary" id = 'submit' type="button" onclick="predictIris()">Submit</button>
    </form>
</div>
<div class="container mt-3">
    <div id="result"></div>
</div>



{% endblock content %}
